<p id="notice"><%= notice %></p>

<h2>Tipos de Veículos</h2>


<div class="container-fluid">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Descrição</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @tipo_veiculos.each do |tipo_veiculo| %>
            <tr id="<%= tipo_veiculo.id %>">
              <td><%= link_to tipo_veiculo.descricao, tipo_veiculo %></td>
              <td class="text-right">
                <%= link_to raw("<span class=\"glyphicon glyphicon-edit\" aria-hidden=\"true\"></span>" + t('links.edit') ), edit_tipo_veiculo_path(tipo_veiculo), class: "btn btn-warning btn-xs" %>

                <%= link_to raw("<span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span>" + t('links.destroy') ), tipo_veiculo, method: :delete, remote: true, data: { confirm: t('questions.sure')}, class: "btn btn-danger btn-xs" %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<br>

<div class="text-center">
  <a href="<%= new_tipo_veiculo_path %>" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= t('links.new') %>
  </a>
</div>
