<h2><%= t '.title' %></h2>

<ul>
  <li><%= t '.descricao', descricao: @tipo_veiculo.descricao %></li>
</ul>

<div class="text-center">
	<a href="<%= tipo_veiculos_path %>" class="btn btn-default btn-xs">
	  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <%= t('links.back') %>
	</a>
	
	<a href="<%= edit_tipo_veiculo_path(@tipo_veiculo) %>" class="btn btn-warning btn-xs">
	  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <%= t('links.edit') %>
	</a>
	
	<a href="<%= tipo_veiculo_path(@tipo_veiculo) %>" class="btn btn-danger btn-xs" data-confirm="<%= t('questions.sure') %>" rel="nofollow" data-method="delete" >
	  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <%= t('links.destroy') %>
	</a>
</div>