      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th><%= t 'activerecord.attributes.veiculo.chassi' %></th>
            <th><%= t 'activerecord.attributes.veiculo.placa' %></th>
            <th><%= t 'activerecord.attributes.veiculo.modelo_id' %></th>
            <th><%= t 'activerecord.attributes.veiculo.anoFabricacao' %></th>
            <th><%= t 'activerecord.attributes.veiculo.cilindradas' %></th>
            <th><%= t 'activerecord.attributes.veiculo.foto' %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @veiculos.each do |veiculo| %>
            <tr id="<%= veiculo.id %>">
              <td><%= link_to veiculo.chassi, veiculo%></td>
              <td><%= veiculo.placa %></td>
              <td><%= Modelo.find(veiculo.modelo_id).fabricante.descricao %> - <%= Modelo.find(veiculo.modelo_id).tipo_veiculo.descricao %></td>
              <td><%= veiculo.anoFabricacao %></td>
              <td><%= veiculo.cilindradas %></td>
              <td><img class="veiculo" src="<%= h url_for(:action => "foto", :id => veiculo.id) %>"/></td>
              <td class="text-right">
                <%= link_to raw("<span class=\"glyphicon glyphicon-edit\" aria-hidden=\"true\"></span> " + t('links.edit')), 
                  edit_veiculo_path(veiculo),
                  class: "btn btn-warning btn-xs"
                %>

                <%= link_to raw("<span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span> " + t('links.destroy')), 
                  veiculo,
                  method: :delete,
                  remote: true,
                  data: {confirm: t('questions.sure')},
                  class: "btn btn-danger btn-xs"
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>