<h2><%= t '.title' %></h2>


<div class="container-fluid">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th><%= t 'activerecord.attributes.veiculo.chassi' %></th>
            <th><%= t 'activerecord.attributes.veiculo.placa' %></th>
            <th><%= t 'activerecord.attributes.veiculo.modelo_id' %></th>
            <th><%= t 'activerecord.attributes.veiculo.anoFabricacao' %></th>
            <th><%= t 'activerecord.attributes.veiculo.cilindradas' %></th>
            <th><%= t 'activerecord.attributes.veiculo.foto' %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @veiculos.each do |veiculo| %>
            <tr>
              <td><%= link_to veiculo.chassi, veiculo%></td>
              <td><%= veiculo.placa %></td>
              <td><%= Modelo.find(veiculo.modelo_id).fabricante.descricao %> - <%= Modelo.find(veiculo.modelo_id).tipo_veiculo.descricao %></td>
              <td><%= veiculo.anoFabricacao %></td>
              <td><%= veiculo.cilindradas %></td>
              <td><img class="veiculo" src="<%= h url_for(:action => "foto", :id => veiculo.id) %>"/></td>
              <td class="text-right">
                <a href="<%= edit_veiculo_path(veiculo) %>" class="btn btn-warning btn-xs">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <%= t('links.edit') %>
                </a>
                <a href="<%= veiculo_path(veiculo) %>" class="btn btn-danger btn-xs" data-confirm="<%= t('questions.sure') %>" rel="nofollow" data-method="delete" >
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <%= t('links.destroy') %>
                </a>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<br>

<div class="text-center">
  <a href="<%= new_veiculo_path %>" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= t('links.new') %>
  </a>
</div>