<h2><%= t '.title' %></h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <%= form_tag "/veiculos/table", method: :get, remote: true, class: "form-inline" do %>
        <div class="form-group">
          <%= text_field_tag :valor, nil, :placeholder => "placa chassi modelo", :class => "form-control  input-sm" %>
          <%= submit_tag :buscar, :class => "btn btn-primary", :id => "btn_buscar", :value => "Buscar" %>
        </div>
      <% end %>
    </div>
  </div>
</div>




<div class="container-fluid">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div id="table">
        <%= render 'table' %>
      </div>
    </div>
  </div>
</div>


<br>

<div class="text-center">
  <a href="<%= new_veiculo_path %>" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= t('links.new') %>
  </a>
</div>

<% content_for :js do %>
  $( function () {
    $('form').bind('ajax:complete', function(xhr, result) {
      var $div = $('#table').empty();
      $div.append(result.responseText);
    });
  });
<% end %>