<%= form_for(@fabricante) do |f| %>
  <% if @fabricante.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'general.form_error' %></h2>

      <ul>
      <% @fabricante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
