<p id="notice"><%= notice %></p>
<h1><%= t '.title' %></h1>

<ul>
  <li><%= t '.descricao', descricao: @fabricante.descricao %></li>
</ul>

<%= link_to t('.edit'), edit_fabricante_path(@fabricante) %> |
<%= link_to t('links.back'), fabricantes_path %>
